.search-bar{
    margin: 2rem;
}

.btn{
    /* margin-left: .5rem; */
}

.row{
    margin-top: .5rem;
}

.form-control{
    background-color: rgba(25, 25, 25, 0.98);
    color: #fffd !important;
    border-color: #343a40;
}

.form-control:focus{
    background-color: rgba(25, 25, 25, 0.98);

}

.jumbotron{
    background-color: rgba(25, 25, 25, 0.98);
}